{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luigi's Castle Pizza</title>
</head>
<body>
        <nav>
            <ul>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_and_reservation' %}">Your Account</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        /
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>

            </ul>
        </nav>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_reservation' %}">Book a Reservation</a>
                </li>
            </ul>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
</body>
</html>