{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<h1>Basket</h1>
<p>{{message}}</p>
<form action="" method="post">
{% csrf_token %}
{% if orders_items is None %}
<p>No orders, make a order in menu page.</p>
{% else %}
{% for orders_item in orders_items %}

<li>Meal name: {{ orders_item.id_menu.meal_name }}</li>
<li>Meal price: {{ orders_item.price }}</li>
<li>Quantity: {{ orders_item.quantity }}</li>
<input id="item_id" value="{{ orders_item.id }}" type="text" name="item_id" readonly="readonly">
<button id="remove_item" value="{{ orders_item.id }}" name="remove_item">Remove</button>
<hr>
{% endfor %}
<li>Total price: {{ total_price }}</li>
    <input id="order_id" value="{{ order_id }}" type="text" name="order_id" readonly="readonly">
    <button id="add_more_items" value="add_more_items" name="add_more_items" >Add more items</button>
    <button id="pay" value="pay" name="pay">Pay</button>
</form>

{% endif %}

{%endblock%}