{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="mt-5 pb-5"></div>

<h1 class="d-flex justify-content-center mb-5">MENU</h1>

{% for menu_item in menu_items %}
<form action="" method="POST">
{% csrf_token %}

        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-10 col-md-8 col-lg-10">
                    <div class="d-flex align-items-center menu">
                        <div class="menu-image-container">
                            <img class="w-100" src="{{ menu_item.imageUrl.url }}">
                        </div>
                        <div>
                            <ul>
                                <li class="mt-3 mb-3">
                                    <strong>Name:</strong> {{menu_item.meal_name}}
                                </li>
                                <li class="mb-3">
                                    <strong>Description:</strong> {{menu_item.meal_description}}
                                </li>
                                <li class="mb-3">
                                    <strong>Price:</strong> {{ menu_item.price }}
                                </li>
                                <li class="mb-3">
                                    <input id="quantity" type="number" min="1" value="" name="quantity" placeholder="Add Quantity" required>
                                </li>
                                <button class="btn btn-warning mb-3">Add To Basket</button>
                            </ul>
                            <input id="menu_id" name="menu_id" type="hidden" value="{{menu_item.id}}">
                            <input id="order_from_basket" name="order_from_basket" type="hidden"value="{{order_from_basket}}">
                        </div>
                    </div>
                    
                </div>
                <hr>
            </div>
        </div>

</form>
{%endfor%}
{%endblock%}