{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="mt-5 pb-5"></div>

<h1 class="d-flex justify-content-center mb-5">Orders and Reservations</h1>
<p class="d-flex justify-content-center align-items-center"><strong>{{message}}</strong></p>
<hr>

{% if user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            {% if orders_items is None %}
            <p class="d-flex justify-content-center align-items-center">No orders, make a order in menu page.</p>
            {% else %}
            <div class="col-sm-10 col-md-4">
                <h3>Customer Order Details</h3>
                {% for order in orders %}
                <li class="mt-2 mb-2"><strong>Full Name:</strong> {{ order.customer.user.first_name }} {{ order.customer.user.last_name }}</li>
                <li class="mb-2"><strong>Username:</strong> {{ order.customer.user.username }}</li>
                <li class="mb-2"><strong>Email:</strong> {{ order.customer.user.email }}</li>
                <li class="mb-2"><strong>Address:</strong> {{ order.customer.address.address }}</li>
                <li class="mb-2"><strong>Zipcode:</strong> {{ order.customer.address.zipcode }}</li>
                <li class="mb-2"><strong>Total price:</strong> {{ order.total_price }}</li>
                <li class="mb-2"><strong class="text-danger text-decoration-underline">Order ID:</strong> {{ order.id }}</li>
                <li><strong>Order created on:</strong> {{ order.created_on }}</li>
                <input id="order_id" value="{{ order.id }}" name="order_id" type="hidden">
                <button class="btn btn-warning mt-2 mb-5" id="delete_order" value="{{ order.id }}" name="delete_order">Cancel Order</button>
                {% endfor %}
            </div>
            <div class="col-sm-10 col-md-4">
                <h3>Ordered Items List</h3>
                <p><strong class="text-danger text-decoration-underline">See items ID matching to your order.</strong></p>
                {% for orders_item in orders_items %}
                <li><strong>Meal name:</strong> {{ orders_item.id_menu.meal_name }}</li>
                <li><strong>Quantity:</strong> {{ orders_item.quantity }}</li>
                <li><strong class="text-danger text-decoration-underline">Order ID:</strong> {{ orders_item.order.id }}</li>
                <br>
                {% endfor %}
            </div>
            {% endif %}

            <div class="col-sm-10 col-md-4">
                <h2>Reservations</h2>
                {% if reservations_items is None %}
                <p>No reservation, do one in menu page.</p>
                {% else %}
                {% for reservation_item in reservations_items %}
                <li class="mb-2"><strong>Full Name:</strong> {{ reservation_item.username.first_name }}
                    {{ reservation_item.username.last_name }}</li>
                <li class="mb-2"><strong>Date:</strong> {{ reservation_item.reservation_date }}</li>
                <li class="mb-2"><strong>Time:</strong> {{ reservation_item.reservation_time }}</li>
                <li class="mb-2"><strong>Email:</strong> {{ reservation_item.username.email }}</li>
                <input id="reservations_items_id" value="{{ reservation_item.id}}" name="reservations_items_id"
                    type="hidden">
                <button class="btn btn-warning mt-2 mb-5" id="delete_reservation" value="{{ reservation_item.id }}"
                    name="delete_reservation">Cancel Reservation</button>
                <br>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</form>
{% endif %}
{%endblock%}